@charset "utf-8";
* {
	margin:0 auto;
	padding:0;
}
body{
    /*margin-left: 10px;*/
	/*margin-right: 0px;*/
	margin:10px;
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: "宋体";
	/*background-color: #DADAE9; */
	background-color:#e5edef;
	scrollbar-face-color: #EAEAF2;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #9395C0;
	scrollbar-3dlight-color: #F3F3F8;
	scrollbar-arrow-color: #9395C0;
	scrollbar-track-color: #F3F3F8;
	scrollbar-darkshadow-color: #F3F3F8;
	/* background-image: url(images/admin_bg.gif); */
}
a  { font:normal 12px "宋体"; color:#333; text-decoration:none; }
a:hover  { color:#596099;text-decoration:underline; }

table.tableBorder{border:#b8d0d6 1px solid}

img{ border:none;}
td{
	font-family:宋体; 
	font-size: 12px; 
	LINE-HEIGHT: 28px;
        text-align:center;
}


A.TableTitleLink {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}
A.TableTitleLink:hover {
	COLOR: #FFFFFF;
	TEXT-DECORATION: underline;}
th{
    background-color: #edf3f4;
    color:#333;
    font-size: 12px;
    font-weight:bold;
    height: 25px;
}

input,select,Textarea{
	font-size: 12px;
	outline:0px;
}
input{
	line-height:18px; height:20px;}
input {
	border:1px solid #cccccc;
}

.button { 
	background-image:url(images/bbk.gif);
	background-color:#ffffff;
	height:20px;
	font-size:12px;
	border:#666666 1px solid;
	padding:0px 5px;
	cursor:pointer;
}


.menuskin {
	BORDER-RIGHT: #0A2999 1px solid ;
	BORDER-TOP: #0A2999 1px solid;
	BORDER-LEFT: #0A2999 1px solid;
	BORDER-BOTTOM: #0A2999 1px solid;
	BACKGROUND-IMAGE: url(images/menubg.gif);
	POSITION: absolute;
	VISIBILITY: hidden;
}
.menuitems {
	PADDING-RIGHT: 1px;
	PADDING-TOP: 1px;
	PADDING-LEFT: 1px;
	PADDING-BOTTOM: 1px;
	MARGIN: 2px;
	font-size:9pt;
	line-height:14pt;
}
#mouseoverstyle {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	BORDER-RIGHT: #0B008B 1px solid;
	BORDER-TOP: #0B008B 1px solid;
	BORDER-LEFT: #0B008B 1px solid;
	BORDER-BOTTOM: #0B008B 1px solid;
	BACKGROUND-COLOR: #A0DEFD
}
.menuskin a {PADDING-RIGHT: 3px;PADDING-LEFT: 30px;}




table.table1{border-top:#ccc 1px solid;border-bottom:#ccc 1px solid;}
table.table2{border-top:#ccc 1px solid;border-bottom:#ccc 1px solid;border-left:#ccc 1px solid;}
table.tablebo{border-bottom:#ccc 1px solid;}
table td.td1{border-right:#ccc 1px solid;border-bottom:#ccc 1px solid;}
table td.td2{border-bottom:#ccc 1px solid;}
table td.td3{border-right:#ccc 1px solid;}

.EAEAF3{ background-color:#fff;height:30px}
.DADAE9{ background-color:#DADAE9;}
.red{ color:#FF0000}
.right{ text-align:right;}
.left{ text-align:left;padding-left:5px;}
.left2{border-bottom:#ccc 1px solid;text-align:left;padding-left:5px;}
.center{ text-align:center;}
.bgc1{ background:url(images/thbgimg.jpg) repeat-x;}
.bgc2{ background-color:#fff;}
.bgc2 a:hover{ text-decoration:underline;}
.bgc2_1{ background-color:#B1B4D1;}
.bgc2_2{ background-color:#f5f5f5;}
.bgc3{ background-color:#fff;}
.marginleft10{ margin-left:10px;}
.paddingleft10{ padding-left:10px; text-align:left}
.paddingleft25{ padding-left:25px; text-align:left;}
.fengye{border-bottom:#ccc 1px solid;text-align:right; padding-right:20px; height:40px;}
.admin_pages a{ padding:0px 3px;}
.bg999{ background-color:#999999;}
.checkbox{ margin:0px; padding:0px; border:0;}
.littletitle{ text-align:center;}

.showimg_a{ position:relative;text-decoration:none;}
.showimg{width:auto; position:absolute;top:20px;left:0px;display:none;}