@charset "utf-8";
/* CSS Document */

*{ padding:0px; margin:0px; box-sizing:border-box}
body{ font-family:"微软雅黑"; font-size:14px; color:#666; text-decoration:none; background: url(../../images/letou/bg.jpg) no-repeat center center; background-size:100% 120%}


a{ font-family:"微软雅黑"; font-size:14px; color:#666; text-decoration:none}

.right-tex-box{ float:right; padding-right:3%; padding-top:1%; padding-bottom:0%; width:48%}

.disc-box .title{ background:url(../../images/letou/disc-title.png) no-repeat center center; height:70px; background-size:100%}

.disc-box .box{ padding:4% 8%; background:url(../../images/letou/disc-bg.png) no-repeat top center; background-size:95% 100%;}

.disc-box .box h2{ color:#020202; font-size:30px; text-align:center}

.money{ text-align:center; margin-top:-10px;}
.money p{ display:inline-block; background:url(../../images/letou/money.png) no-repeat left center; padding-left:60px; padding-top:15px; width:87%; padding-bottom:15px;}

.money p span{  background:url(../../images/letou/money-bg.png) no-repeat center center; width:52px; height:52px; display:inline-block; line-height:52px; color:#f5f0da; font-size:40px; text-align:center; font-family:"宋体"; float:left; width:12.5%; background-size:90%;}

.disc-box .last{ text-align:center; margin-top:-10px;}
.disc-box .last strong{ color:#000000; font-size:25px; font-weight:100;}

.m-box ul{ list-style:none; overflow:hidden}
.m-box ul li{ overflow:hidden}
.m-box ul li strong{ width:34%; display:block; background-size:100%; float:left}
.m-box ul li p{ float:left; width:65%; padding-left:12px;}
.m-box ul li.sqhm p span{ background:url(../../images/letou/num-no-bg.png) no-repeat center center; display:inline-block; width:16.666%; float:left; height:40px; line-height:40px; text-align:center; color:#000; font-size:18px; background-size:auto 100%}
.m-box ul li.sqhm p{ padding-top:5px;}
.m-box ul li.zhye p span{ background:url(../../images/letou/big-m-bg.png) no-repeat center center; height:50px; display:inline-block; text-align:center; color:#000; font-size:22px; line-height:50px; width:50%; background-size:auto 100%;}

img{ max-width:100%}


.disc-box .rtmmjl .look{ background:url(../../images/letou/dot-look.png) no-repeat center center; display:inline-block; height:40px; width:40%; margin-top:3px; background-size:auto 100%;}


.num-box{ background:url(../../images/letou/end-bg.png) no-repeat top center; position:relative; background-size:100% 100%;  padding:11%; padding-bottom:7%; }
.num-box h2{ background:url(../../images/letou/title2.png) no-repeat center center; width:100px; height:100px; position:absolute; left:50%; margin-left:-50px; top:-20px; background-size:100%}

.num-box .mum{overflow:hidden; background:url(../../images/letou/all-num-bg.png) no-repeat center center; background-size:100% 100%; padding:0 15px}
.num-box .mum span{ float:left; padding:5px 0; width:8.333%; display:inline-block; text-align:center; color:#256c91;}
.num-box .mum span strong{cursor: pointer; background:url(../../images/letou/num-bg.png) no-repeat center center; display:block; background-size:auto 100%; padding:2px;}

.your-num{ margin-top:12px; background:url(../../images/letou/had-num-bg.png) no-repeat center center; background-size:100% 100%; position:relative; overflow:hidden; padding-left:10px; padding-bottom:10px;}
.your-num h3{ background:url(../../images/letou/title-had.png) no-repeat center center; height:35px; width:150px; background-size:auto 100%; margin-left:15px;}

.your-num .box-had{ margin-top:12px; background:url(../../images/letou/num-line.png) no-repeat bottom left; padding-bottom:10px; background-size:100%; float:left; width:60%;}

.your-num .box-had span{ float:left; text-align:center; width:16.666%; background:url(../../images/letou/num-had.png) no-repeat center center;background-size:60% 100%}

.your-num .box-had span strong{padding:15px; color:#fff; font-size:14px;}

.sub-buy{ background:url(../../images/letou/sub-buy.png) no-repeat center center; width:110px; height:80px; display:block; position:absolute; top:10px; right:25px; background-size:100%}

.num-box .mum span strong.hover{background:url(../../images/letou/num-bg2.png) center center no-repeat; background-size:auto 100%; }

@media (max-width: 1300px) {
	body{ background:url(../../images/letou/bg.jpg) no-repeat center center; background-size:100% 100%}
	
	.num-box h2{background:url(../../images/letou/title2.png) no-repeat center center; background-size:100%; width:70px; height:70px; top:-5%}
	.m-box ul li.sqhm p{ padding-top:0px;}
	.m-box ul li.zhye p span{ margin-top:-5px;}
	.disc-box .rtmmjl .look{ background:url(../../images/letou/dot-look.png) no-repeat center center; display:inline-block; height:30px; width:60%; margin-top:3px; background-size:auto 100%;}
	}
	
	
